{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true
  },
  "parser": "@babel/eslint-parser",
  "rules": {
    "no-plusplus": [0],
    "no-unused-vars": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [0],
    "react/jsx-props-no-spreading": [0],
    "import/prefer-default-export": [0],
    "react/no-array-index-key": [0],
    "no-console": "off",
    "arrow-body-style": [0],
    "react/self-closing-comp": [0],
    "jsx-a11y/anchor-is-valid":[0]
  }
}
